<div class="jumbotron comment d-flex container px-3 py-1 mx-0 mb-0 mt-2 bg-subcomment">
    <div class="sub-user-card m-0 mt-3 container text-center pl-0 pr-2 mr-2">
        <div class="sub-avatar container rounded-circle bg-dark"></div>
        <a href="{{ path('app_user_channel', {'channel_name': getChannelName(comment.authorUsername)}) }}"
           class="sub-com-author text-dark">{{ subcomment.authorUsername }}</a>
    </div>
    <div class="container p-0 m-0">
        <div>
            <div class="sub-com-date m-0 p-0 text-right">{{ subcomment.added|date("d-m-Y") }}</div>
            <div class="sub-content">{{ subcomment.contents }}</div>
        </div>
        <div class="float-right">
            <a class="btn btn-light btn-sub-rate bg-subcomment" href="{{ path('app_comment_rate', {
                'grade': 1,
                'id': subcomment.id
            }) }}">
                <i class="fas fa-thumbs-up text-dark"></i>
                {{ subcomment.commentRatesUp.count }}
            </a>
            <a class="btn btn-light btn-sub-rate bg-subcomment" href="{{ path('app_comment_rate', {
                'grade': 0,
                'id': subcomment.id
            }) }}">
                <i class="fas fa-thumbs-down text-dark"></i>
                {{ subcomment.commentRatesDown.count }}
            </a>
        </div>
    </div>
</div>