{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/channel.css') }}">
{% endblock %}

{% block title %}Hello ChannelController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="movies-wrapper">
        {% for video in channel.videos %}
            <a class="text-dark" href="{{ path('video_watch', {'video_hash': video.hash}) }}">
                <div class="thumbnail align-top">
                    <span class="badge badge-dark">{{ video.durationInReadableFormat }}</span>
                    <img
                        alt="{{ video.title }}"
                        src="{{ ['/assets/uploads/thumbs/', video.hash, '.jpg']|join }}"
                        class="img-thumbnail position-relative" />
                    <h2>{{ video.title }}</h2>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
